node_modules
.DS_Store
DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
www/index.html
www/main.html
www/start.less
www/start.css

main.css
all.css
header.css
style.css
main.css
footer.css
variables.css