//
//  ALL LESS
//
//    This LESS file is for styling Overall elements that will effect the whole website
//
// --------------------------------------------------------------------------------

// Sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 50px;
}

main {
  flex-grow: 1;
}
// /Sticky Footer

.background-main {
  padding-top: 100px;

}

/*start  welcome */
body main .start {
  margin-top: 20px;
}
// star style
// body main div.star-line {
//   height: 5px;
//   width: 200px;
//   background-color: #000;
// }
//
// body main div.star-line-2 {
//   height: 5px;
//   width: 200px;
//   background-color: #000
//
// }

body main .fin_bild img {
  border-style: none;
  padding: 0;
  width: 100%;
  margin:8px auto;
}

/* color for player*/

  .color_chosen {
    margin-top: 20px;
  }
  .color_chosen .btn{
    border-radius:4px !important;
    &.active{
      border: 5px gold solid;
    }
  }
  .color_chosen .color {
    border: 1px solid lightgray;
    margin: 10px;
    
  }
  .color_chosen .play1color {
    margin-left: 30px;
  }
  .color_chosen .play2color {
    margin-left: 86px;
  }
  
 

  /* model */
.modal-dialog {
  max-width: 500px;
  margin: 140px auto;
}
