//
//  Header
//    Content styling for <header>
//
// --------------------------------------------------------------------------------

header {

  .logo {
    width: 200px;
  }

  .navbar{
    position: fixed;
    top: 0px;
    left:0px;
    right:0px;
    z-index: 1234565;
  }

  .nav {
    font-size: 22px;
  }

  .gamestatusbtn {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display:none;
    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }


}
