//
//  Main
//    Content styling for <main>
//
// --------------------------------------------------------------------------------

main {

  //Game design only //
  div.board-holder {
    overflow: hidden;
  }
  div.board {
    background: blue;
    border-radius: 10px;
    display: none;
    width: 490px;
    height: 420px;
    padding: 10px 5px 10px 5px;
    transform-orgin: 0 0;
  }
  div.bullet {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    float: float;
  }
  div.empty {
    background: white;
  }
  div.board-footer {
    background: blue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 10px;
    width: 10%;
  }
  // /Game design


	.winnermodals 
		#exampleModalLabel {
			text-align: 100px;
    }

}
