//
//  VARIABLES
//    Variables and classes to be used in other LESS files
//
// --------------------------------------------------------------------------------

// Media Queries variables
@smartphone: ~"(max-width: 575px)"; // Extra small devices (portrait phones, less than 574px)
@tablet: ~"(max-width: 991px)"; // Medium devices (tablets, less than 992px)
@desktop: ~"(max-width: 1199px)"; // Large devices (desktops, less than 1200px)
    // To use the media queries write on the specific element
    //   
    //  @media @smartphone { 
    //    CHANGES: VALUE;
    //  } 