body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/*start  welcome */
body main .start {
  margin-top: 20px;
}

body main .welcome .card-text {
  height: 140px;
}

body main .card {
  height: 280px;
}
body main .fin_bild img {
  border-style: none;
  padding: 0;
  width: 20vw;
  margin: auto;
}

.black{
  background-color: black;
  color:white;
}

.white{
  background-color: white;
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}
